@import 'styles/global/templates';
@import 'styles/global/palette';

.logo {
  display: inline-block;

  &__wrapper {
    margin: 0;

    > * {
      background: none;
    }
  }

  &__bold {
    @extend %textStyleDesktopMedicalMateLogoBold;
  }

  &__italic {
    @extend %textStyleDesktopMedicalMateLogoItalic;
  }
}
