@import 'styles/global/palette';

.header {
  background-color: $bone;
  position: fixed;
  width: 100%;
  padding: 2rem 0;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    > * {
      &:last-child {
        flex: 0 1 9.6rem;
      }
    }
  }
}
