.timeblock {
  width: 5rem;
  height: 2rem;
  background-color: aliceblue;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  cursor: pointer;
}
