%_wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

%intro-container {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 1144px;
  padding: 0 10px;
}

// Typography
%textStyleDesktopMedicalMateLogoBold {
  font-family: 'Migha';
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.8rem;
}

%textStyleDesktopMedicalMateLogoItalic {
  font-family: 'Migha';
  font-style: italic;
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 3.8rem;
}

// Margins
%mr51 {
  margin-right: 5.1rem;
}
